.main {
  display: flex;
  padding-top: 100px;
}
.input-form {
  width: 50%;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.main .form {
  width: 70%;
  margin: 0 auto;
}

.main textarea {
  all: unset;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  overflow-x: unset;
  font-size: 1.2rem;
}

.textarea::placeholder {
  font-size: 1.2rem;
}
.textarea:focus {
  border-color: #0000ff;
  /* color: #a200ff; */
}
.notice-lang {
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: blue;
}
.btns {
  display: flex;
  align-items: center;
}
.submit-btn,
.show-translate-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background-color: blue;
  padding: 10px;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.retry-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 15px;
}
.retry-btn img {
  transition-duration: 0.3s;
}
.retry-btn img:hover {
  transform: rotateZ(100deg);
  transition-duration: 0.3s;
}
.download-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: blue;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.result {
  width: 550px;
  height: 550px;
  border: 1px solid #d9d9d9;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result.loading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 0.7s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.overlay {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .form {
  z-index: 101;
  position: relative;
}
.overlay textarea {
  all: unset;
  border: 2px solid #d9d9d9;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: unset;
  font-size: 1.2rem;
}
.close-overlay-btn {
  all: unset;
  position: absolute;
  top: -30px;
  right: -25px;
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: pointer;
}
.overlay .submit-btn:disabled {
  opacity: 0.3;
}
