.title {
  padding-top: 100px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.main {
  width: 270px;
  margin: 0 auto;
}

.current-page {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.current-page .page {
  font-size: 16;
  font-weight: 600;
  margin-right: 7px;
  color: #d9d9d9;
  cursor: pointer;
}
.current-page .page span {
  display: block;
  margin-bottom: 5px;
}
.current-page .active span {
  color: blue;
}

.current-page .line {
  width: 100%;
  height: 2px;
  background-color: blue;
}

.main .input-form {
  width: 100%;
  margin: 0 auto;
}

.main textarea,
.overlay textarea {
  all: unset;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  width: 270px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: unset;
  font-size: 16px;
  box-sizing: border-box;
}

.textarea::placeholder {
  font-size: 16px;
}
.textarea:focus {
  border-color: #0000ff;
  /* color: #a200ff; */
}
.notice-lang {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: blue;
}
.btns {
  display: flex;
  align-items: center;
}
.submit-btn,
.show-translate-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 10px;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.submit-btn {
  margin-right: 8px;
}

.retry-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 15px;
}
/* .retry-btn img {
  transition-duration: 0.3s;
}
.retry-btn img:hover {
  transform: rotateZ(100deg);
  transition-duration: 0.3s;
} */
.download-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: blue;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.result {
  width: 270px;
  height: 270px;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
}

.output-wrapper button {
  margin-right: 8px;
}

.result.loading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 0.7s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.overlay {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .form {
  z-index: 101;
  position: relative;
}
.overlay textarea {
  background-color: white;
  margin-bottom: 30px;
}
.close-overlay-btn {
  all: unset;
  position: absolute;
  top: -30px;
  right: -25px;
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: pointer;
}
.overlay .submit-btn:disabled {
  opacity: 0.3;
}
